.header {
    padding: 24px 0px;
    background-color: var(--white);
}

.header__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    font-style: normal;
    font-family: Inter;
    color: var(--black);
}

@media screen and (max-width: 768px) {
    .header {
        padding: 17px 0px;
    }

    .header__title {
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: var(--grey-4);
    }
}