// Classes use to make SCSS produce coma separated classes
// with @each rule
%selected_label {
  color: var(--text);
  border-bottom-color: var(--text);
}

%invisible_tab {
  display: none;
}

%visible_tab {
  display: block;
}

.tabs {
  background: var(--background-primary);

  &__scrollable {
    display: flex;
    gap: 40px;
    overflow-x: auto;
  }

  &__scrollable::-webkit-scrollbar {
    display: none;
  }

  &__label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-3);
    padding-bottom: 8px;
    display: block;
    border-bottom: 5px solid transparent;
    white-space: nowrap;
  }

  $tab_names: all-tab, elements-tab, containers-tab, templates-tab;

  @each $name in $tab_names {
    ##{$name}:checked ~ &__scroller &__label[for='#{$name}'] {
      @extend %selected_label;
    }

    &__content_#{$name} {
      @extend %invisible_tab;
    }

    ##{$name}:checked ~ &__content_#{$name} {
      @extend %visible_tab;
    }
  }

  &__input {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
  }
}
