.card {
  background: var(--background-primary);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, .05);
  border-radius: 12px;
  display: grid;
  grid-template-rows: 1fr auto;

  &:link {
    text-decoration: none;
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    padding: 30px;
    pointer-events: none;

    &_grid {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 16px 32px;
      align-content: center;
    }
  }

  &__footer {
    padding: 13px 0px 32px;
    border-top: 2px solid transparent;
    text-align: center;

    @include respond(tablet) {
      border-top-color: var(--grey-2);
    }
  }

  &__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: var(--text);
    margin-bottom: 6px;
  }

  &__type {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--text);
  }

  &__histogram {
    flex-grow: 1;
  }
}
