.checkbox {
  display: inline-flex;
  position: relative;

  &__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    outline: none;
  }

  &__state {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
  }

  &__control {
    width: 28px;
    height: 28px;
    background: var(--background-primary);
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    height: 24px;
    width: 24px;
    color: var(--white);
    display: none;
  }

  &__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text);
  }

  @include handle-state(':checked', control) {
    background-color: var(--blue);
    border-color: var(--blue);
  }

  @include handle-state(':checked', icon) {
    display: block;
  }

  @include handle-state(':focused', title) {
    text-decoration: underline;
  }

  @include handle-state(':disabled', control) {
    background-color: var(--grey-2);
  }

  @include handle-state(':disabled') {
    cursor: not-allowed;
  }
}
