.modal {
    --background-color: rgba(196, 196, 196, 50%);
    --title-color: #334D6E;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: var(--background-color);
}

.modal__window {
    background: var(--white);
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 15px 15px 33px 40px;
}

.modal__close {
    --size: 16px;
    height: var(--size);
    width: var(--size);
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.modal__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--title-color);
    padding-bottom: 14px;
    padding-top: 15px;
}

.modal__content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}
