.toggler {
  display: inline-flex;
  position: relative;

  &__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }

  &__state {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
  }

  &__control {
    width: 52px;
    height: 28px;
    border-radius: 16px;
    background: var(--background-primary);
    border: 1px solid var(--grey-2);
    display: inline;
    position: relative;
    transition: background-color 200ms ease-in;
  }

  &__icon {
    width: 24px;
    height: 24px;
    background: var(--grey-2);
    border-radius: 50%;
    margin: 0px 2px;
    position: absolute;
    top: 2px;
    transition-property: transform, background-color;
    transition-duration: 200ms;
  }

  @include handle-state(':checked', control) {
    border-color: var(--blue);
    background-color: var(--blue);
  }

  @include handle-state(':checked', icon) {
    background-color: var(--white);
    transform: translateX(24px);
  }

  @include handle-state(':focus', title) {
    text-decoration: underline;
  }

  @include handle-state(':disabled', control) {
    background-color: var(--grey-2);
  }

  @include handle-state('disabled', icon) {
    background-color: var(--grey-3);
    opacity: .25;
  }

  @include handle-state('disabled') {
    cursor: not-allowed;
  }
}
