.theme-changer {
  &__light {
    color: var(--black);
  }

  &__dark {
    color: var(--grey-3);
  }

  @include handle-state(':checked', light) {
    color: var(--grey-3);
  }

  @include handle-state(':checked', dark) {
    color: var(--white);
  }
}
