.checkbox {
    display: inline-flex;
    position: relative;
}

.checkbox__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    outline: none;
}

.checkbox__state {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.checkbox__control {
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox__icon {
    height: 24px;
    width: 24px;
    color: var(--white);
    display: none;
}

.checkbox__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    background-color: var(--blue);
    border-color: var(--blue);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
    display: block;
}

.checkbox__input:focus ~ .checkbox__state .checkbox__title {
    text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
    background-color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__title {
    color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state {
    cursor: not-allowed;
}