.description {
  background: var(--background-primary);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(33, 36, 41, .05);

  &__view {
    padding: 32px 48px 0px 48px;
  }

  &__tabs {
    padding: 0px 48px;
  }

  &__code {
    font: 14px monospace;
    padding: 50px 42px 64px 42px;
  }

  &__title {
    @extend %title_M;
    color: var(--text);
  }

  &__component {
    padding: 50px 0px 50px 50px;
  }
}
