.burger-menu__button {
    outline: none;
    border: none;
    background-color: transparent;
}


.burger-menu__button_close {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-menu__button_close:hover {
    background-color: var(--grey-2);
    border-radius: 50%;
}

.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(-100vw);
    transition: transform 200ms linear;
}

.burger-menu[data-open] {
    transform: none;
}